{% extends 'web/base.html' %}
{% load staticfiles %}
{% block js %}
<script src="{% static 'web/js/content.js' %}"></script>
{% endblock %}
{% block content %}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title left-div">
                    <h5 style="font-weight: normal;font-size: 20px;">功能模块</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    <ul class="list-group">
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-commenting fa-fw"></i>
                                <span class="left-li-strong">自动回复</span>
                            </a>
                        </li>
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-sticky-note fa-fw"></i>
                                <span class="left-li-strong">自定义菜单</span>
                            </a>
                        </li>
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-qrcode fa-fw"></i>
                                <span class="left-li-strong">二维码/转化链接</span>
                            </a>
                        </li>
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-clock-o fa-fw"></i>
                                <span class="left-li-strong">定时群发</span>
                            </a>
                        </li>
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-pencil-square fa-fw"></i>
                                <span class="left-li-strong">素材编辑器</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ibox-title left-div">
                    <h5 style="font-weight: normal;font-size: 20px;">粉丝</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    <ul class="list-group">
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-heartbeat fa-fw"></i>
                                <span class="left-li-strong">粉丝管理</span>
                            </a>
                        </li>
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-heart fa-fw"></i>
                                <span class="left-li-strong">会员管理</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ibox-title left-div">
                    <h5 style="font-weight: normal;font-size: 20px;">配置</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content no-padding">
                    <ul class="list-group">
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-cogs fa-fw"></i>
                                <span class="left-li-strong">参数配置</span>
                            </a>
                        </li>
                        <li class="list-group-item left-li">
                            <a href="#" class="left-li-a">
                                <i class="fa fa-money fa-fw"></i>
                                <span class="left-li-strong">支付参数</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8" style="background-color: #fff">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1" aria-expanded="false">关键字自动回复</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#" aria-expanded="false">非文字自动回复</a>
                    </li>
                     <li>
                        <a data-toggle="tab" href="#" aria-expanded="false">首次访问自动回复</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#" aria-expanded="false">默认回复</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#" aria-expanded="false">常用服务</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#" aria-expanded="false">自定义接口回复</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1">
                        <div class="panel-body">
                            <div class="row">
                                <select></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock %}
{% block script_function %}
<script>
var id = parseQueryString(location.href).id;
</script>
{% endblock %}
