{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="X-modal" type="modal">
    <br>
    <div class="form-horizontal">
        <div class="col-md-12 form-group">
            <label class="col-md-1 control-label">公众号名称：</label>
            <div class="col-md-5">
                <input type="text" maxlength="64" class="form-control" id="name" placeholder="" value="">
            </div>
            <label class="col-md-1 control-label">公众号账号：</label>
            <div class="col-md-5">
                <input type="text" maxlength="64" class="form-control" id="account" placeholder="" value="">
            </div>
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-horizontal">
        <div class="col-md-12 form-group">
            <label class="col-md-1 control-label">公众号简介：</label>
            <div class="col-md-11">
                <input type="text" maxlength="64" class="form-control" id="describe" placeholder="" value="">
            </div>
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-horizontal">
        <div class="col-md-12 form-group">
            <label class="col-md-1 control-label">原始ID：</label>
            <div class="col-md-5">
                <input type="text" maxlength="64" class="form-control" id="origin_id" placeholder="" value="">
            </div>
            <label class="col-md-1 control-label">公众号类型：</label>
            <div class="col-md-5">
                <select class="form-control" id="type">
                    <option value="0">普通订阅号</option>
                    <option value="1">普通服务号</option>
                    <option value="2">认证订阅号</option>
                    <option value="3">认证服务号/认证媒体/政府订阅号</option>
                </select>
            </div>
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-horizontal">
        <div class="col-md-12 form-group">
            <label class="col-md-1 control-label">Appid：</label>
            <div class="col-md-5">
                <input type="text" maxlength="32" class="form-control" id="app_id" placeholder="" value="">
            </div>
            <label class="col-md-1 control-label">AppSecret：</label>
            <div class="col-md-5">
                <input type="text" maxlength="64" class="form-control" id="app_secret" placeholder="" value="">
            </div>
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-horizontal">
        <div class="col-md-12 form-group">
            <label class="col-md-1 control-label">头像：</label>
            <div class="col-md-5">
                <input type="file" class="form-control" id="head_img" value="">
            </div>
            <label class="col-md-1 control-label">二维码：</label>
            <div class="col-md-5">
                <input type="file" class="form-control" id="qrcode_img" value="">
            </div>
        </div>
    </div>
    <br/><br/><br/>
    <div class="form-horizontal">
        <div class="col-md-12 form-group">
            <label class="col-md-1 control-label">Token：</label>
            <div class="col-md-5">
                <input type="text" maxlength="32" class="form-control" id="token" placeholder="" value="">
            </div>
            <label class="col-md-1 control-label">EncodingAESKey：</label>
            <div class="col-md-5">
                <input type="text" maxlength="64" class="form-control" id="encodingaeskey" placeholder="" value="">
            </div>
        </div>
    </div>
    <br/><br/><br/>
</div>
<script>
    layer.open({
        btn: ['保存', '取消'],
        yes: function () {
            $('#head_img').localResizeIMG({
                success: function (result) {
                    head = result.base64;
                }
            });
            $('#qrcode_img').localResizeIMG({
                success: function (result) {
                    qrcode = result.base64;
                }
            });
            layer.confirm('您确认想要保存吗？', {btn: ['确定', '取消']}, function () {
                $.ajax({
                    url: '/web/add_wechat',
                    type: 'POST',
                    headers:{ "X-CSRFtoken":getCookie("csrftoken")},
                    data: {
                        name: $('#name').val(), account: $('#account').val(), describe: $('#describe').val(),
                        origin_id: $('#origin_id').val(), type: $('#type').val(), app_id: $('#app_id').val(),
                        app_secret: $('#app_secret').val(), head_img: head, qrcode_img: qrcode,
                        token: $('#token').val(), encodingaeskey: $('#encodingaeskey').val()
                    },
                    success: function (result) {
                        console.log($('#name').val());
                        if (result.error) {
                            layer.msg(result.msg);
                        } else {
                            layer.msg(result.msg);
                            layer.close();
                        }

                    }
                });
            });
        },
        no: function () {
        },
        end: function () {
            var dTable = $('#dTable').DataTable();
            dTable.page(dTable.page()).draw(false);
        }
    });
</script>
</body>
</html>